<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Quyền cần cho Google Fit -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <!-- Nếu sau này cần kết nối BLE (thiết bị đeo thông minh) thì bỏ comment các quyền này -->
    <!--
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" tools:ignore="BluetoothPermission" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" tools:ignore="BluetoothPermission" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthTracking"
        android:name=".HealthTrackingApp"
        >
        <activity
            android:name=".user_settings.UserSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".user_settings.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".auth.AuthActivity"
            android:exported="false" />
        <activity
            android:name=".sleep.SleepTracker"
            android:exported="false" />
        <activity
            android:name=".sleep.HistorySleep"
            android:exported="false" />

        <!-- Màn hình nước -->
        <activity
            android:name=".water.water_volume_chart"
            android:exported="false" />
        <activity
            android:name=".water.water_Monitoring"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".weight.WeightTrackerActivity"
            android:exported="false" />
        <activity
            android:name=".step.StepActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Blood.BloodPressureActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".Blood.BloodPressureHistoryActivity"
            android:exported="false" />
    </application>

</manifest>